.adminBox {
    color: white;
    font-size: 15px;
    background: tomato;
    width: 50px;
    height: 25px;
    margin: 5px;
    padding: 1px 1px;
    border: 1px solid rgba(0, 0, 0, .2);
}
.off-image{
    width: 300px;
    margin: 20px 0;
}
.on-image{
    width: 200px;
    margin: 50px 0;
}
.grav-image{
    margin: 10px 0;
}
.rotate-image{
    transform: rotate(90deg);
}
.showPwd{
    cursor: pointer;
}
.showPwd:hover{
    background: #e0e7ef;
}
.showPwd:active{
    background: #d0e2f5;
}
.navbar-icon{
    color: rgba(255,255,255,.50);
    font-size: 20px;
}
.navbar-li :hover{
    background: #823f68;
    color: rgba(255,255,255,.75);
}
