<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Notifications | <%=user.name%></title>
    
    <% include ../partials/header.ejs %>

</head>
<body>
    <% include ../partials/navbar.ejs %>
    <div class="container mt-4">
        <h2>Notifications</h2>
    </div>
</body>
</html>
