<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    
    <% include ../partials/header.ejs %>
    <script src="/js/user/users.js"></script>

</head>
<body>
    <% include ../partials/navbar.ejs %>
    <div class="container mt-4">
        <h2>Users</h2>
        <div class="row" id="userContainer">
                <!-- individual admin to be added by js -->
        </div>    

    </div>
</body>
</html>
