<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
    
    <% include ../partials/header.ejs %>
    <script src="/js/product/products.js"></script>

</head>
<body>
    <% include ../partials/navbar.ejs %>
    <div class="container mt-4">
        <h2>Products</h2>
        <div class="row" id="productContainer">
                <!-- individual admin to be added by js -->
        </div>    
    </div>
</body>
</html>
